body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: "Trebuchet MS", "Helvetica";
}

h1 {
  font-size: 5em;
}

.container {
  width: 70%;
  margin: auto auto;
}

#cover {
  height: calc(150vw - 30px);
  overflow: visible;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}

#content {
  background-color: #483d8b;
  color: black;
  position: relative;
}

.layer {
  width: 100vw;
  height: calc(150vw - 30px);
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  transform-origin: top;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

.img {
  max-width: 100%;
  min-height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
}

#img-bg {
  background-image: url("./img/ggb bg compressed.jpg");
  z-index: -2;
}

#img-cutout {
  background-image: url("./img/ggb_cutout.png");
  z-index: 2;
}

.title {
  width: 100%;
  position: fixed;
  top: 25vh;
  justify-content: center;
  z-index: -1;
}

.title h1 {
  font-size: 11vw;
  margin: 16px;
}

.title-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: left;
  color: white;
}

.section {
  min-height: 100vh;
  padding: 24px 32px;
  background-color: #483d8b;
  color: white;
  min-height: 100vh;
  justify-content: center;
  position: relative;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header {
  color: white;
  font-weight: 300;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

.about img {
  height: 400px;
  margin: 5% 0;
}

#about-header {
  padding-top: 7%;
}

#about-content {
  padding-top: 5%;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurb {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #483d8b;
}

.blurb-box {
  height: auto;
  width: 600px;
  margin: 0 auto;
  padding: 48px;
  background-color: white;
  color: #483d8b;
  border-radius: 15px;
}

.blurb h2 {
  font-size: 2.5em;
  font-weight: bold;
}

#footer {
  background-color: rgb(38, 33, 78);
  color: white;
  text-align: right;
  position: relative;
}

#footer p {
  padding: 8px;
  margin: 0;
  font-size: small;
}

.spacer {
  margin-top: 32px;
}

.hidden {
  display: none;
}

.location-footer {
  text-align: right;
}

.more {
  display: none;
}

.card {
  border: none;
  border-color: none;
  color: #483d8b;
}

.card-text {
  margin: 0;
}

.card-link {
  cursor: pointer;
}

.card-spacer {
  margin-top: 16px;
}

.card-footer {
  border: none;
  border-radius: 15px;
  background-color: lavender;
}

.social-container {
  height: 0px;
  width: 100%;
  position: relative;
  overflow: visible;
}

.social-sidebar {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -3;
  padding-top: 20px;
  padding-right: 20px;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px auto;
}
.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 60px;
  height: 60px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
  margin: 16 12px;
}
.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 24px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: #0072c6;
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  background: #3b5999;
}
.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}
.social-button--github {
  color: #6e5494;
}
.social-button--github::after {
  background: #6e5494;
}
.social-button--codepen {
  color: #212121;
}
.social-button--codepen::after {
  background: #212121;
}
.social-button--steam {
  color: #7da10e;
}
.social-button--steam::after {
  background: #7da10e;
}
.social-button--snapchat {
  color: #eec900;
}
.social-button--snapchat::after {
  background: #eec900;
}
.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}
.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}
.social-button--npmjs {
  color: #c12127;
}
.social-button--npmjs::after {
  background: #c12127;
}
.social-button--spotify {
  color: #1db954;
}
.social-button--spotify::after {
  background: #1db954;
}
.social-button--resume {
  color: #3a364d;
}
.social-button--resume::after {
  background: #3a364d;
}

#resume-btn {
  width: 200px;
  border-radius: 30px;
  justify-content: center;
}
#resume-btn::after {
  border-radius: 30px;
}

@media only screen and (max-width: 768px) {
  .layer-1 {
    background-position: 26% bottom;
  }
  .layer-3 {
    background-position: 35% bottom;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: auto auto;
  }
}
@media only screen and (max-width: 900px) {
  .section-header {
    position: inherit;
  }
}/*# sourceMappingURL=styles.css.map */