$lavenderblue: #d2daf0;
$primary: #483d8b;
$darker: rgb(38, 33, 78);
$coverheight: calc(150vw - 30px);
$boxsize: 600px;

body {
	padding: 0;
	margin: 0;
	background-color: black;
	font-family: "Trebuchet MS", "Helvetica";
}

h1 {
	font-size: 5rem;
}

.container {
	width: 70%;
	margin: auto auto;
}

#cover {
	height: $coverheight;
	overflow: visible;
	//position: relative;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	text-align: center;
	justify-content: center;
	position: relative;
}

#content {
	background-color: white;
	color: black;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(./img/sf_ocean.jpg);
}

.layer {
	width: 100vw;
	height: $coverheight;
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	transform-origin: top;
}

.text-header {
	font-size: 50px;
	text-align: center;
}

//img
.img {
	max-width: 100%;
	min-height: 100vh;
	object-fit: contain;
	position: absolute;
	top: 0;
}

#img-bg {
	background-image: url("./img/ggb\ bg\ compressed.jpg");
	//background-position: top center;
	z-index: -2;
}

#img-cutout {
	background-image: url("./img/ggb_cutout.png");
	//background-position: top center;
	z-index: 2;
}

//title
.title {
	width: 100%;
	position: fixed;
	top: 25vh;

	justify-content: center;

	z-index: -1;
}

.title h1 {
	font-size: 11vw;
	margin: 16px;
}

.title-container {
	width: fit-content;
	margin: auto;
	text-align: left;
	color: white;
}

//sections
.section {
	//min-height: 100vh;

	padding: 24px 32px;
	//background-color: lightgrey;
}

.section-header {
	color: white;
	font-weight: 300;
	text-align: center;
	margin-top: 32px;
	margin-bottom: 16px;
}

//about section
.about {
	background-color: $primary;
	color: white;
	min-height: 100vh;
	justify-content: center;
}

.about h1 {
	font-size: 5rem;
}

.about img {
	height: 400px;
}

#about-header {
	padding-top: 10%;
}

#about-content {
	padding-top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blurb {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $primary;
}

.blurb-box {
	height: $boxsize;
	width: $boxsize;
	margin: 0 auto;
	padding: 48px;
	background-color: white;
	color: $primary;

	border-radius: 15px;
}

.blurb h2 {
	font-size: 2.5em;
	font-weight: bold;
}

// #projects {
// 	background-color: ghostwhite; //$lavenderblue;
// 	background-image: url(./img/japan_lake.JPEG);
// }

// #experience {
// 	background-color: ghostwhite; //lavender;
// 	background-image: url(./img/sf_ocean.jpg);
// }

// #reviews {
// 	background-color: ghostwhite; //#e2e2ef;
// }

#footer {
	background-color: $darker;
	color: white;
	text-align: right;
	position: relative;
}

#footer p {
	padding: 8px;
	margin: 0;
	font-size: small;
}

.spacer {
	margin-top: 32px;
}

.hidden {
	display: none;
}

//card
.location-footer {
	text-align: right;
}

.more {
	display: none;
}

.card {
	border: none;
	border-color: none;
	color: white;
}

.card-body {
	background-color: $primary;
}

.card-subtitle {
	color: lavender;
}

.card-text {
	margin: 0;
}

.card-link {
	cursor: pointer;
	color: lightskyblue;
}

.card-spacer {
	margin-top: 16px;
}

.card-footer {
	border: none;
	background-color: $darker;
}

//social media buttons
.social-container {
	height: 00px;
	width: 100%;
	position: relative;
	overflow: visible;
}

.social-sidebar {
	position: -webkit-sticky;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	padding-top: 20px;
	padding-right: 20px;
}

.social-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 32px auto;

	&__button {
		margin: 10px 5px 0;
	}
}

$social-button-size: 60px;
$social-button-icon-size: 0.4;
$social-button-background: #fff;
$social-button-active-color: #fff;
$social-button-transition-time: 0.3s;

$social-button-colors: (
	"mail": #0072c6,
	"facebook": #3b5999,
	"linkedin": #0077b5,
	"github": #6e5494,
	"codepen": #212121,
	"steam": #7da10e,
	"snapchat": #eec900,
	"twitter": #55acee,
	"instagram": #e4405f,
	"npmjs": #c12127,
	"spotify": #1db954,
	"resume": #3a364d,
);

.social-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	width: $social-button-size;
	height: $social-button-size;
	text-decoration: none;
	border-radius: 100%;
	background: $social-button-background;
	text-align: center;
	margin: 16 12px;

	&::after {
		content: "";
		position: absolute;
		top: -1px;
		left: 50%;
		display: block;
		width: 0;
		height: 0;
		border-radius: 100%;
		transition: $social-button-transition-time;
	}

	&:focus,
	&:hover {
		color: $social-button-active-color;

		&::after {
			width: calc(100% + 2px);
			height: calc(100% + 2px);
			margin-left: calc(-50% - 1px);
		}
	}

	i,
	svg {
		position: relative;
		z-index: 1;
		transition: $social-button-transition-time;
	}

	i {
		font-size: $social-button-size * $social-button-icon-size;
	}

	svg {
		height: percentage($social-button-icon-size);
		width: percentage($social-button-icon-size);
	}

	@each $name, $color in $social-button-colors {
		&--#{$name} {
			color: $color;

			&::after {
				background: $color;
			}
		}
	}
}

#resume-btn {
	width: 200px;
	border-radius: 30px;
	justify-content: center;

	&::after {
		border-radius: 30px;
	}
}
