$lavenderblue: #d2daf0;
$primary: #483d8b;
$darker: rgb(38, 33, 78);

$coverheight: calc(150vw - 30px);
$boxsize: 600px;
$logosize: 75px;
$corners: 15px;

$titlesize: 11vw;

//TODO: i forgot what i needed to do but there was something

body {
	padding: 0;
	margin: 0;
	background-color: black;
	font-family: "Trebuchet MS", "Helvetica";
}

h1 {
	font-size: 5em;
}

.container {
	width: 70%;
	margin: auto auto;
}

#cover {
	height: $coverheight;
	overflow: visible;
	//position: relative;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	text-align: center;
	justify-content: center;
	position: relative;
}

#content {
	background-color: $primary;
	color: black;
	position: relative;
	// background-position: center;
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-attachment: fixed;
	// background-image: url(./img/sf_ocean.jpg);
}

.layer {
	width: 100vw;
	height: $coverheight;
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	transform-origin: top;
}

.text-header {
	font-size: 50px;
	text-align: center;
}

//img
.img {
	max-width: 100vw;
	min-height: 100vh;
	object-fit: contain;
	position: absolute;
	top: 0;
}

#img-bg {
	background-image: url("./img/ggb\ bg\ compressed.jpg");
	//background-position: top center;
	z-index: -2;
}

#img-cutout {
	background-image: url("./img/ggb_cutout.png");
	//background-position: top center;
	z-index: 2;
}

//title
.title {
	max-width: 100%;
	width: 100%;
	position: fixed;
	top: 25vh;

	justify-content: center;
	display: flex;

	z-index: -1;
}

.title h1 {
	font-size: $titlesize;
	margin: 16px;
}

.title-container {
	width: fit-content;
	margin: 0 auto;
	text-align: left;
	color: white;
}

//sections
.section {
	min-height: 100vh;
	margin: 0 auto;
	width: 80%;

	padding: 24px 32px;
	//background-color: lightgrey;

	background-color: $primary;
	color: white;
	min-height: 100vh;
	justify-content: center;

	position: relative;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-header {
	color: white;
	font-weight: 300;
	text-align: center;
	margin-top: 32px;
	margin-bottom: 16px;
}

.section p {
	font-size: 2em;
}

.section a {
	color: lightskyblue;

	&:hover {
		color: rgb(93, 143, 173);
	}
}

.project-title {
	margin: 0;
}

.project-img {
	margin: 32px auto;
}

//about section
.about img {
	//height: 400px;
	max-width: 95%;
	margin: 5% 0;
}

#about-header {
	padding-top: 7%;
	font-size: 0.7em;
	text-align: center;
}

#about-content {
	padding-top: 5%;

	display: flex;
	justify-content: center;
	align-items: center;
}

//blurb section
.blurb {
	min-height: 100vh;
}

.blurb-header {
	font-weight: 300;
	text-align: center;
	margin-bottom: 48px;
}

.blurb-box {
	height: auto;
	width: $boxsize;
	max-width: 80vw;
	margin: 0 auto;
	padding: 48px;
	background-color: white;
	color: $primary;

	border-radius: $corners;
}

.blurb h2 {
	font-size: 2.5em;
	font-weight: bold;
}

//icon titles
.icon-header {
	margin-bottom: 32px;
	display: inline-flex;
	align-items: center;
	align-content: flex-start;
	justify-content: center;
	text-align: left;
}

.icon-border {
	width: $logosize;
	height: $logosize;
	background-color: white;
	border-radius: 50%;
	margin-right: 16px;
}

.icon-border img {
	width: 100%;
	height: 100%;
	scale: 1.2;
}

#spotistics-icon {
	background-color: $primary;
}

//logos section
#logo-title {
	padding-top: 7%;
	padding-bottom: 32px;
}

.logo-box {
	position: relative;
	background-color: lavender;
	height: 400px;
	width: 400px;
	border-radius: $corners;
	margin: 32px auto;
	max-width: 100%;
	max-height: 100%;
}

.logo-box img {
	height: 400px;
	display: block;
	opacity: 1;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.overlay {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	border-radius: $corners;
	width: 100%;
}

.logo-box:hover img {
	opacity: 0.2;
}

.logo-box:hover .overlay {
	opacity: 1;
}

.logo-description {
	color: $primary;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.logo-description h2 {
	font-size: 2em;
	font-weight: bold;
}

.logo-description p {
	font-size: 0.9em;
	//font-weight: bold;
}

#footer {
	background-color: $darker;
	color: white;
	text-align: right;
	position: relative;
}

#footer p {
	padding: 8px;
	margin: 0;
	font-size: small;
}

.spacer {
	margin-top: 32px;
}

.hidden {
	display: none;
}

//hidden if not viewed on a mobile device
.mobile {
	display: none;
}

.mobile img {
	//height: 400px;
	max-width: 90%;
	width: 90%;
	margin-bottom: 24px;
}

.web {
	display: inherit;
}

//card
.location-footer {
	text-align: right;
}

.more {
	display: none;
}

.card {
	border: none;
	border-color: none;
	//border-radius: $corners;
	color: $primary;
}

.card-text {
	margin: 0;
}

.card-link {
	cursor: pointer;
}

.card-spacer {
	margin-top: 16px;
}

.card-footer {
	border: none;
	border-radius: $corners;
	background-color: lavender;
}

//social media buttons
.social-container {
	height: 0px;
	width: 100%;
	position: relative;
	overflow: visible;
}

.social-sidebar {
	position: -webkit-sticky;
	position: fixed;
	top: 0;
	right: 0;
	z-index: -3;
	padding-top: 20px;
	padding-right: 20px;
	//opacity: 0;
}

.social-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 32px auto;

	&__button {
		margin: 10px 5px 0;
	}
}

$social-button-size: 60px;
$social-button-icon-size: 0.4;
$social-button-background: #fff;
$social-button-active-color: #fff;
$social-button-transition-time: 0.3s;

$social-button-colors: (
	"mail": #0072c6,
	"facebook": #3b5999,
	"linkedin": #0077b5,
	"github": #6e5494,
	"codepen": #212121,
	"steam": #7da10e,
	"snapchat": #eec900,
	"twitter": #55acee,
	"instagram": #e4405f,
	"npmjs": #c12127,
	"spotify": #1db954,
	"resume": #3a364d,
);

.social-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	width: $social-button-size;
	height: $social-button-size;
	text-decoration: none;
	border-radius: 100%;
	background: $social-button-background;
	text-align: center;
	margin: 16 12px;

	&::after {
		content: "";
		position: absolute;
		top: -1px;
		left: 50%;
		display: block;
		width: 0;
		height: 0;
		border-radius: 100%;
		transition: $social-button-transition-time;
	}

	&:focus,
	&:hover {
		color: $social-button-active-color;

		&::after {
			width: calc(100% + 2px);
			height: calc(100% + 2px);
			margin-left: calc(-50% - 1px);
		}
	}

	i,
	svg {
		position: relative;
		z-index: 1;
		transition: $social-button-transition-time;
	}

	i {
		font-size: $social-button-size * $social-button-icon-size;
	}

	svg {
		height: percentage($social-button-icon-size);
		width: percentage($social-button-icon-size);
	}

	@each $name, $color in $social-button-colors {
		&--#{$name} {
			color: $color;

			&::after {
				background: $color;
			}
		}
	}
}

#resume-btn {
	width: 200px;
	border-radius: 30px;
	justify-content: center;

	&::after {
		border-radius: 30px;
	}
}

@media only screen and (max-width: 768px) {
	.mobile {
		display: inherit;
	}
	.web {
		display: none;
	}
	.section {
		width: 95%;
	}
	.section p {
		font-size: 1.5em;
	}
	.blurb-box {
		padding: 24px;
	}
	.blurb h2 {
		font-size: 1.7em;
		font-weight: bold;
	}
	.project-title {
		text-align: center;
		font-size: 3.5em;
	}
	.title {
		top: 10vh;
	}
	.logo-box img {
		scale: 0.9;
	}
	.logo-description p {
		font-size: 0.5em;
		//font-weight: bold;
	}
}

@media only screen and (max-width: 900px) {
	.section-header {
		position: inherit;
	}
}

@media only screen and (max-width: 1200px) {
	#about-content {
		padding: 0;
	}
}
